{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div id="wrapper">
  
    <div id="main">
      
             <section id="cta" class="main special">
            <header class="major">
                <h2>  <p style="color: red">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p> </h2>
               
            </header>
        
            <footer class="major">



   
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}


      </footer>
        </section>
    </div>
</div>
    
    {% endblock fos_user_content %}