{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

<div id="wrapper">
  
    <div id="main">
      
             <section id="cta" class="main special">
            <header class="major">
                <h2> </h2>
               
            </header>
         
           
          
            <footer class="major">

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}


 </footer>
        </section>
    </div>
</div>