
<html>
  <head> 
  	<title> Données Peronnelles</title>
  	
  <style type='text/css'>
       

body{
    background-color: #960cf2;
}
          </style>
  </head>

<body>

 

<div  class="well" style="text-align: center;background-color: #FFFFFF;">
<h1 style="color:red;">Cette page est encours de construction</h1>

    <h2> Completer ou Modifier vos données </h2> 
    
     {{ form_start(form, {'method': 'post', 'action': path('vmp_portail_forms')}) }}
    
  
{{ form_end(form) }}
   <a href="{{ path('fos_user_profile_show') }}"> Retourner au profile. </a> 
</div>






          </body>
    </html>     
     
