{% extends "VMPPortailBundle::layout.html.twig" %}


{% block title %}

    Bienvenue - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    
{% endblock %}


{% block vmp_body %}

    <p>

        VMP-Consulting est un bureau spécialisé dans le contrôle de gestion pour les TPE/TPI, les PME/PMI et les collectivités territoriales.
        Nous les accompagnons et les conseillons pour aller vers l'efficacité et l'efficience dans l'utilisation de leurs ressources
        afin d'atteindre leurs objectifs.
    </p>
    <ul class="actions">
        <!--	<li><a href="generic.html" class="button"></a></li>-->
    </ul>

{% endblock %}


{% block javascripts %}
    
{% endblock %}