{% extends "VMPPortailBundle::layout.html.twig" %}


{% block title %}

    Bienvenue - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    
{% endblock %}


{% block vmp_body %}

     <section id="cta" class="main special">
            <header class="major">
                <h2>Connexion</h2>
               
            </header>
         
           
          
            <footer class="major">
                <ul class="actions">
                    <li> <a href= "{{ path('fos_user_security_login') }}"
                           class="button special">Connecter</a></li>
                   <li><a href="{{ path('fos_user_registration_register')}}" class="button">Créer un compte</a></li> 
                </ul>
            </footer>
        </section>

{% endblock %}


{% block javascripts %}
    
{% endblock %}